.filter-item {
  background-color: #c5e09b;
  border-radius: 8px;
  font-family: inherit;
  padding: 4px 25px 4px 25px;
  font-size: 24px;
  font-weight: 500;
  text-transform: capitalize;
  cursor: pointer;
  border: none;
  outline: none;
}
.filter-item:focus{
  border: 1px solid green;
}
.filter-item.active {
  background-color: #7cba01;
}

@media screen and (min-width: 701px) {
  .filter-item {
    padding: 2px 20px 6px 20px;
    font-size: 16px;
    border-radius: 5px;
  }
}
